# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! *PANDAS* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

![Pandas world](https://media.giphy.com/media/oVpjKztlM9joc/giphy.gif)

## This course will make you go from Po To Kung fu Panda.

Right now you are - 
![Po](https://media.giphy.com/media/rJqhf2DF0AKUU/giphy.gif "Baby Po")

###  So buckle up and enjoy the ride

![Buckle up](https://media.giphy.com/media/xyRolGQHJDEli/giphy.gif "They see me rollin ! ")

##  1. "Dealing with Tabular data file in pandas"

In [6]:
import pandas as pd

In [7]:
# Download the data from github repository into a destination as shown below

In [8]:
orders=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/chips_data.csv')

In [9]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
# In csv command its considering the first row as header as shown below

In [11]:
movie=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/moviez.csv')

In [12]:
movie.head()

   1  24  M  technician  85711
0  2  53  F       other  94043
1  3  23  M      writer  32067
2  4  24  M  technician  43537
3  5  33  F       other  15213
4  6  42  M   executive  98101

#### Since we dont have column name  so its taking the first row as column name , to prevent this from happening  use * header=None *

In [13]:
movie=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/moviez.csv',header=None)

movie.head()

#### Lets fill the columns now

In [14]:
user_cols=['user_id','age','gender','occupation','zip_code']

In [15]:
# Now set the user columns names=user_cols that we defined above

In [16]:
movie=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/moviez.csv',header=None,names=user_cols)

In [17]:
movie.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

###                                         Dont get scared , we have a long way to go

![OMG](https://media.giphy.com/media/IWPKJGwPuTHLG/giphy.gif "Woaaaaaaaahhhhhhh   WTH !!!")

In [18]:
# select a panda series from a data frame

In [19]:
# the only difference between read_csv and read_table is that read_csv has ',' as default separator

In [20]:
# Ignore
# copy the content to csv , Data->  Text to columns and set | as separator and save

In [21]:
ufo=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/ufo.csv')

In [22]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [23]:
type(ufo)

pandas.core.frame.DataFrame

In [24]:
ufo['City'] #To access a particular column

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, dtype: object

In [25]:
type(ufo['City'])

pandas.core.series.Series

### In series we can use the  "."  notation . Everytime a series is added to a data frame its name automatically becomes its attributes . click on ufo.tab button to see more . It wont work if a column name is same as built in function name

In [26]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, dtype: object

In [27]:
# . notation wont work for Colors Reported so use [] (whenever there is space in the columna name)

In [28]:
ufo['Colors Reported']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          RED
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          RED
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
          ...
18211       NaN
18212       NaN
18213     GREEN
18214       NaN
18215       NaN
18216    ORANGE
18217       NaN
18218       NaN
18219       NaN
18220      BLUE
18221       NaN
18222       NaN
18223       NaN
18224       NaN
18225       NaN
18226       NaN
18227       NaN
18228       NaN
18229       NaN
18230       NaN
18231       NaN
18232       NaN
18233       RED
18234       NaN
18235       NaN
18236       NaN
18237       NaN
18238       NaN
18239       RED
18240       NaN
Name: Colors Reported, dtype: object

## 2.  How to create a new panda series in a data frame ?

In [29]:
'ab' + 'cd'

'abcd'

In [30]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [31]:
ufo.City + ufo.State

0                      IthacaNY
1                 WillingboroNJ
2                     HolyokeCO
3                     AbileneKS
4        New York Worlds FairNY
5                 Valley CityND
6                 Crater LakeCA
7                        AlmaMI
8                     EklutnaAK
9                     HubbardOR
10                    FontanaCA
11                   WaterlooAL
12                     BeltonSC
13                     KeokukIA
14                  LudingtonMI
15                Forest HomeCA
16                Los AngelesCA
17                  HapevilleGA
18                     OneidaTN
19                 Bering SeaAK
20                   NebraskaNE
21                          NaN
22                          NaN
23                  OwensboroKY
24                 WildernessWV
25                  San DiegoCA
26                 WildernessWV
27                     ClovisNM
28                 Los AlamosNM
29               Ft. DuscheneUT
                  ...
18211                 HolyokeMA
18212                  CarsonCA
18213                PasadenaCA
18214                  AustinTX
18215                El CampoTX
18216            Garden GroveCA
18217           Berthoud PassCO
18218              SisterdaleTX
18219            Garden GroveCA
18220             Shasta LakeCA
18221                FranklinNH
18222          AlbrightsvillePA
18223              GreenvilleSC
18224                 EufaulaOK
18225             Simi ValleyCA
18226           San FranciscoCA
18227           San FranciscoCA
18228              KingsvilleTX
18229                 ChicagoIL
18230             Pismo BeachCA
18231             Pismo BeachCA
18232                    LodiWI
18233               AnchorageAK
18234                CapitolaCA
18235          Fountain HillsAZ
18236              Grant ParkIL
18237             Spirit LakeIA
18238             Eagle RiverWI
18239             Eagle RiverWI
18240                    YborFL
dtype: object

In [32]:
ufo.City + ',' + ufo.State

0                      Ithaca,NY
1                 Willingboro,NJ
2                     Holyoke,CO
3                     Abilene,KS
4        New York Worlds Fair,NY
5                 Valley City,ND
6                 Crater Lake,CA
7                        Alma,MI
8                     Eklutna,AK
9                     Hubbard,OR
10                    Fontana,CA
11                   Waterloo,AL
12                     Belton,SC
13                     Keokuk,IA
14                  Ludington,MI
15                Forest Home,CA
16                Los Angeles,CA
17                  Hapeville,GA
18                     Oneida,TN
19                 Bering Sea,AK
20                   Nebraska,NE
21                           NaN
22                           NaN
23                  Owensboro,KY
24                 Wilderness,WV
25                  San Diego,CA
26                 Wilderness,WV
27                     Clovis,NM
28                 Los Alamos,NM
29               Ft. Duschene,UT
                  ...
18211                 Holyoke,MA
18212                  Carson,CA
18213                Pasadena,CA
18214                  Austin,TX
18215                El Campo,TX
18216            Garden Grove,CA
18217           Berthoud Pass,CO
18218              Sisterdale,TX
18219            Garden Grove,CA
18220             Shasta Lake,CA
18221                Franklin,NH
18222          Albrightsville,PA
18223              Greenville,SC
18224                 Eufaula,OK
18225             Simi Valley,CA
18226           San Francisco,CA
18227           San Francisco,CA
18228              Kingsville,TX
18229                 Chicago,IL
18230             Pismo Beach,CA
18231             Pismo Beach,CA
18232                    Lodi,WI
18233               Anchorage,AK
18234                Capitola,CA
18235          Fountain Hills,AZ
18236              Grant Park,IL
18237             Spirit Lake,IA
18238             Eagle River,WI
18239             Eagle River,WI
18240                    Ybor,FL
dtype: object

In [33]:
# For creating a new column from existing columns use [] notation when creating a series

In [34]:
ufo['Location']=ufo.City + ','  + ufo.State

In [35]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"

In [36]:
# some panda command ends with paranthesis and others dont? Why?

In [37]:
movies=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data//imdb.csv')

In [38]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [39]:
# If there is one numeric column its gonna show the descriptive statistics of those columns

In [40]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [41]:
movies.shape # () says its a tuple

(979, 6)

In [42]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [43]:
type(movies)

pandas.core.frame.DataFrame

In [44]:
# Methods(that are action oriented) are with parenthesis and attributes(that is who you are) are without paranthesis

# Just type movies. and press tab button will show us all attributes and methods . Its our work to figure out

In [45]:
# Lets execute the code below
# Now it will only describe the columns with the type object.
# It gives count of non-null values . 
# How many of those values are unique .12 different content rating repeated 
# Top- most frequent value in that column . the most common ones
# The frequencies with which the top values appears.

In [46]:
 movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

## SHORTCUT FOR HELP :- Click inside any method ( ).... - Press SHIFt-Tab Tab Tab Tab for help

![Panda help](https://media.giphy.com/media/nDUBmkk14iJMs/giphy.gif "Help")

## 3.  Column operation in Pandas

###  Rename columns in pandas

In [47]:
ufo=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/ufo.csv')

In [48]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [49]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [50]:
# a list of columns returned

In [51]:
# Now remove space for colors reported and shape reported

In [52]:
# So we pass it as a  dictionary below where key is old name and value is the new name, inplace=true which means
# reflect it in original dataframe

In [53]:
ufo.rename(columns= {'Colors Reported': 'Colors_Reported' ,'Shape Reported':'Shape_Reported'}, inplace =True)

In [54]:
ufo.columns

Index([u'City', u'Colors_Reported', u'Shape_Reported', u'State', u'Time'], dtype='object')

In [55]:
                                # Or

In [56]:
ufo_cols=['city','Colors Reported', 'Shape Reported', 'State', 'Time']

In [57]:
ufo.columns=ufo_cols

In [58]:
# Overriden

In [59]:
ufo.head()

                   city Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [60]:
                                # or

In [61]:
# 0th row is the header and pass the ufo_cols to the names argument

In [62]:
ufo=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/ufo.csv', names=ufo_cols , header=0)

In [63]:
# SHORTCUT - for renaming names of hundred columns having spaces use as follow (that is to replace  " " with "_")

In [64]:
ufo.columns=ufo.columns.str.replace(' ','_')

In [65]:
ufo.head()

                   city Colors_Reported Shape_Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [66]:
# Remove columns in pandas

In [67]:
ufo.shape

(18241, 5)

In [68]:
# when Axis= 0 its row axis and axis = 1 is column axis

In [69]:
ufo.drop('Colors_Reported',axis=1, inplace=True)

In [70]:
ufo.head()

                   city Shape_Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [71]:
# For dropping more than 1 column pass the column name as list

In [72]:
ufo.drop(['city','State'],axis=1, inplace=True)

In [73]:
ufo.head()

  Shape_Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [74]:
# SHORTCUT how to drop a row ,I don't need reports before 1931 #index are the names of the rows
# axis =0 is default so no need to write

In [75]:
ufo.drop([0,1],axis=0, inplace=True)

In [76]:
ufo.head()

  Shape_Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

In [77]:
ufo.shape

(18239, 2)

## 4. SORTING IN PANDAS

![Thats tough](https://thumbs.gfycat.com/WigglyVastFlatfish-size_restricted.gif "Nobody said its gonna be easy")

In [78]:
# Sort a pandas dataframe or series? using imdb ratings

In [79]:
movies=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/imdb.csv')

In [80]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [81]:
# Sorted the movie titles in alphabetical order but numbers do come first

In [82]:
movies.title.sort_values()

542                   (500) Days of Summer
5                             12 Angry Men
201                       12 Years a Slave
698                              127 Hours
110                  2001: A Space Odyssey
910                                   2046
596                               21 Grams
624                              25th Hour
708                       28 Days Later...
60                                3 Idiots
225                                 3-Iron
570                                    300
555                           3:10 to Yuma
427           4 Months, 3 Weeks and 2 Days
824                                     42
597                                  50/50
203                                  8 1/2
170                       A Beautiful Mind
941                       A Bridge Too Far
571                           A Bronx Tale
266                      A Christmas Story
86                      A Clockwork Orange
716                         A Few Good Men
750                    A Fish Called Wanda
276                   A Fistful of Dollars
612                     A Hard Day's Night
883                  A History of Violence
869              A Nightmare on Elm Street
865                        A Perfect World
426                              A Prophet
                      ...
207       What Ever Happened to Baby Jane?
562            What's Eating Gilbert Grape
719                When Harry Met Sally...
649                      Where Eagles Dare
33                                Whiplash
669                Who Framed Roger Rabbit
219        Who's Afraid of Virginia Woolf?
127                      Wild Strawberries
497    Willy Wonka & the Chocolate Factory
270                        Wings of Desire
483                           Withnail & I
920                                Witness
65             Witness for the Prosecution
970                            Wonder Boys
518                         Wreck-It Ralph
954                                  X-Men
248             X-Men: Days of Future Past
532                     X-Men: First Class
871                                     X2
695                      Y Tu Mama Tambien
403                             Ying xiong
235                                Yip Man
96                                 Yojimbo
280                     Young Frankenstein
535                                  Zelig
955                       Zero Dark Thirty
677                                 Zodiac
615                             Zombieland
526                                   Zulu
864                                  [Rec]
Name: title, dtype: object

In [83]:
# We can use bracket notation along with  ascending and descending too

In [84]:
movies['title'].sort_values(ascending=False)

864                                  [Rec]
526                                   Zulu
615                             Zombieland
677                                 Zodiac
955                       Zero Dark Thirty
535                                  Zelig
280                     Young Frankenstein
96                                 Yojimbo
235                                Yip Man
403                             Ying xiong
695                      Y Tu Mama Tambien
871                                     X2
532                     X-Men: First Class
248             X-Men: Days of Future Past
954                                  X-Men
518                         Wreck-It Ralph
970                            Wonder Boys
65             Witness for the Prosecution
920                                Witness
483                           Withnail & I
270                        Wings of Desire
497    Willy Wonka & the Chocolate Factory
127                      Wild Strawberries
219        Who's Afraid of Virginia Woolf?
669                Who Framed Roger Rabbit
33                                Whiplash
649                      Where Eagles Dare
719                When Harry Met Sally...
562            What's Eating Gilbert Grape
207       What Ever Happened to Baby Jane?
                      ...
426                              A Prophet
865                        A Perfect World
869              A Nightmare on Elm Street
883                  A History of Violence
612                     A Hard Day's Night
276                   A Fistful of Dollars
750                    A Fish Called Wanda
716                         A Few Good Men
86                      A Clockwork Orange
266                      A Christmas Story
571                           A Bronx Tale
941                       A Bridge Too Far
170                       A Beautiful Mind
203                                  8 1/2
597                                  50/50
824                                     42
427           4 Months, 3 Weeks and 2 Days
555                           3:10 to Yuma
570                                    300
225                                 3-Iron
60                                3 Idiots
708                       28 Days Later...
624                              25th Hour
596                               21 Grams
910                                   2046
110                  2001: A Space Odyssey
698                              127 Hours
201                       12 Years a Slave
5                             12 Angry Men
542                   (500) Days of Summer
Name: title, dtype: object

In [85]:
# But its not changing the underlying data  . For that we have to write inplace . To check

In [86]:
movies['title']

0                               The Shawshank Redemption
1                                          The Godfather
2                                 The Godfather: Part II
3                                        The Dark Knight
4                                           Pulp Fiction
5                                           12 Angry Men
6                         The Good, the Bad and the Ugly
7          The Lord of the Rings: The Return of the King
8                                       Schindler's List
9                                             Fight Club
10     The Lord of the Rings: The Fellowship of the Ring
11                                             Inception
12        Star Wars: Episode V - The Empire Strikes Back
13                                          Forrest Gump
14                 The Lord of the Rings: The Two Towers
15                                          Interstellar
16                       One Flew Over the Cuckoo's Nest
17                                         Seven Samurai
18                                            Goodfellas
19                                             Star Wars
20                                            The Matrix
21                                           City of God
22                                 It's a Wonderful Life
23                                    The Usual Suspects
24                                                 Se7en
25                                     Life Is Beautiful
26                          Once Upon a Time in the West
27                              The Silence of the Lambs
28                                Leon: The Professional
29                                           City Lights
                             ...
949                                           Home Alone
950                                                Bound
951                                        Sleepy Hollow
952                                         Pirate Radio
953                                The NeverEnding Story
954                                                X-Men
955                                     Zero Dark Thirty
956                             Manhattan Murder Mystery
957                          National Lampoon's Vacation
958                                   My Sister's Keeper
959                                 Deconstructing Harry
960                                     The Way Way Back
961                                               Capote
962                                   Driving Miss Daisy
963                                      La Femme Nikita
964                                              Lincoln
965                                            Limitless
966                                   The Simpsons Movie
967                                             The Rock
968                                  The English Patient
969                                  Law Abiding Citizen
970                                          Wonder Boys
971                                   Death at a Funeral
972                                       Blue Valentine
973                                The Cider House Rules
974                                              Tootsie
975                          Back to the Future Part III
976      Master and Commander: The Far Side of the World
977                                          Poltergeist
978                                          Wall Street
Name: title, dtype: object

In [87]:
# If u wanna see the series in sorted order , just sort the series but if 
# u wanna keep the rest of the data about each of the movies with it 
# u sort the data frame by some particula4r column , here title

In [88]:
movies.sort_values('duration',ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
335,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin..."
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
620,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
220,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B..."
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
316,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
318,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M..."
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar..."
245,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick..."
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
...,...,...,...,...,...,...
881,7.5,The Texas Chain Saw Massacre,R,Horror,83,"[u'Marilyn Burns', u'Edwin Neal', u'Allen Danz..."
766,7.6,The Little Mermaid,G,Animation,83,"[u'Jodi Benson', u'Samuel E. Wright', u'Rene A..."
174,8.2,Persona,NOT RATED,Drama,83,"[u'Bibi Andersson', u'Liv Ullmann', u'Margaret..."
306,8.0,This Is Spinal Tap,R,Comedy,82,"[u'Rob Reiner', u'Michael McKean', u'Christoph..."
595,7.7,The Purple Rose of Cairo,PG,Comedy,82,"[u'Mia Farrow', u'Jeff Daniels', u'Danny Aiello']"
738,7.6,Army of Darkness,R,Comedy,81,"[u'Bruce Campbell', u'Embeth Davidtz', u'Marcu..."
541,7.8,South Park: Bigger Longer & Uncut,R,Animation,81,"[u'Trey Parker', u'Matt Stone', u'Mary Kay Ber..."
117,8.3,Toy Story,G,Animation,81,"[u'Tom Hanks', u'Tim Allen', u'Don Rickles']"
789,7.6,Ice Age,PG,Animation,81,"[u'Denis Leary', u'John Leguizamo', u'Ray Roma..."
330,8.0,Nosferatu,UNRATED,Horror,81,"[u'Max Schreck', u'Greta Schr\xf6der', u'Ruth ..."
853,7.5,L'illusionniste,PG,Animation,80,"[u'Jean-Claude Donda', u'Eilidh Rankin', u'Dun..."
297,8.0,Rope,PG,Crime,80,"[u'James Stewart', u'John Dall', u'Farley Gran..."
283,8.1,Before Sunset,R,Drama,80,"[u'Ethan Hawke', u'Julie Delpy', u'Vernon Dobt..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
533,7.8,Run Lola Run,R,Action,80,"[u'Franka Potente', u'Moritz Bleibtreu', u'Her..."
622,7.7,The Dinner Game,PG-13,Comedy,80,"[u'Thierry Lhermitte', u'Jacques Villeret', u'..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
489,7.8,The Triplets of Belleville,PG-13,Animation,78,"[u'Mich\xe8le Caucheteux', u'Jean-Claude Donda..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
303,8.0,The Nightmare Before Christmas,PG,Animation,76,"[u'Danny Elfman', u'Chris Sarandon', u""Catheri..."
405,7.9,The Bride of Frankenstein,NOT RATED,Horror,75,"[u'Boris Karloff', u'Elsa Lanchester', u'Colin..."
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
351,8.0,Frankenstein,UNRATED,Horror,70,"[u'Colin Clive', u'Mae Clarke', u'Boris Karloff']"
742,7.6,Following,R,Mystery,69,"[u'Jeremy Theobald', u'Alex Haw', u'Lucy Russe..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."

In [89]:
# still doesnt effect underline data . To check that use code below

In [90]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [91]:
# If you ever come across deprecated  error . It means in future version its not gonna work . 
# and in future version it will throw error

In [92]:
movies.sort('title')

C:\Users\J.A.R.V.I.S\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
596,7.7,21 Grams,R,Crime,124,"[u'Sean Penn', u'Benicio Del Toro', u'Naomi Wa..."
624,7.7,25th Hour,R,Crime,135,"[u'Edward Norton', u'Barry Pepper', u'Philip S..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
225,8.1,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-..."
570,7.8,300,R,Action,117,"[u'Gerard Butler', u'Lena Headey', u'David Wen..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
427,7.9,"4 Months, 3 Weeks and 2 Days",NOT RATED,Drama,113,"[u'Anamaria Marinca', u'Vlad Ivanov', u'Laura ..."
824,7.5,42,PG-13,Biography,128,"[u'Chadwick Boseman', u'T.R. Knight', u'Harris..."
597,7.7,50/50,R,Comedy,100,"[u'Joseph Gordon-Levitt', u'Seth Rogen', u'Ann..."
203,8.1,8 1/2,NOT RATED,Drama,138,"[u'Marcello Mastroianni', u'Anouk Aim\xe9e', u..."
170,8.2,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'Ed Harris', u'Jennifer Co..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
571,7.8,A Bronx Tale,R,Crime,121,"[u'Robert De Niro', u'Chazz Palminteri', u'Lil..."
266,8.1,A Christmas Story,PG,Comedy,94,"[u'Peter Billingsley', u'Melinda Dillon', u'Da..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
716,7.6,A Few Good Men,R,Drama,138,"[u'Tom Cruise', u'Jack Nicholson', u'Demi Moore']"
750,7.6,A Fish Called Wanda,R,Comedy,108,"[u'John Cleese', u'Jamie Lee Curtis', u'Kevin ..."
276,8.1,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u'Gian Maria Volont\xe9', ..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
883,7.5,A History of Violence,R,Crime,96,"[u'Viggo Mortensen', u'Maria Bello', u'Ed Harr..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
865,7.5,A Perfect World,PG-13,Crime,138,"[u'Kevin Costner', u'Clint Eastwood', u'Laura ..."
426,7.9,A Prophet,R,Crime,155,"[u'Tahar Rahim', u'Niels Arestrup', u'Adel Ben..."
...,...,...,...,...,...,...
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
562,7.8,What's Eating Gilbert Grape,PG-13,Drama,118,"[u'Johnny Depp', u'Leonardo DiCaprio', u'Julie..."
719,7.6,When Harry Met Sally...,R,Comedy,96,"[u'Billy Crystal', u'Meg Ryan', u'Carrie Fisher']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
669,7.7,Who Framed Roger Rabbit,PG,Animation,104,"[u'Bob Hoskins', u'Christopher Lloyd', u'Joann..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."
270,8.1,Wings of Desire,PG-13,Drama,128,"[u'Bruno Ganz', u'Solveig Dommartin', u'Otto S..."
483,7.8,Withnail & I,R,Comedy,107,"[u'Richard E. Grant', u'Paul McGann', u'Richar..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
518,7.8,Wreck-It Ralph,PG,Animation,101,"[u'John C. Reilly', u'Jack McBrayer', u'Jane L..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
532,7.8,X-Men: First Class,PG-13,Action,132,"[u'James McAvoy', u'Michael Fassbender', u'Jen..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
695,7.7,Y Tu Mama Tambien,R,Drama,106,"[u'Maribel Verd\xfa', u'Gael Garc\xeda Bernal'..."
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
235,8.1,Yip Man,R,Action,106,"[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']"
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
280,8.1,Young Frankenstein,PG,Comedy,106,"[u'Gene Wilder', u'Madeline Kahn', u'Marty Fel..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."

In [93]:
# To sort by multiple column, pass a list
# when threre is a tie in content rating , it sorts by duration

In [94]:
movies.sort_values(['content_rating','duration'])

,star_rating,title,content_rating,genre,duration,actors_list
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W..."
656,7.7,Snow White and the Seven Dwarfs,APPROVED,Animation,88,"[u'Adriana Caselotti', u'Harry Stockwell', u'L..."
844,7.5,Pinocchio,APPROVED,Animation,88,"[u'Dickie Jones', u'Christian Rub', u'Mel Blanc']"
233,8.1,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u'Shelley Winters', u'Lill..."
287,8.1,His Girl Friday,APPROVED,Comedy,92,"[u'Cary Grant', u'Rosalind Russell', u'Ralph B..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
451,7.9,Miracle on 34th Street,APPROVED,Comedy,96,"[u'Edmund Gwenn', u""Maureen O'Hara"", u'John Pa..."
229,8.1,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u'Robert Walker', u'Ruth R..."
237,8.1,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ingrid Bergman', u'Claude Ra..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
285,8.1,Bringing Up Baby,APPROVED,Comedy,102,"[u'Katharine Hepburn', u'Cary Grant', u'Charle..."
94,8.4,Singin' in the Rain,APPROVED,Comedy,103,"[u'Gene Kelly', u""Donald O'Connor"", u'Debbie R..."
575,7.8,Kramer vs. Kramer,APPROVED,Drama,105,"[u'Dustin Hoffman', u'Meryl Streep', u'Jane Al..."
298,8.0,The Graduate,APPROVED,Comedy,106,"[u'Dustin Hoffman', u'Anne Bancroft', u'Kathar..."
866,7.5,To Catch a Thief,APPROVED,Mystery,106,"[u'Cary Grant', u'Grace Kelly', u'Jessie Royce..."
230,8.1,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor', u'Paul Newman', u'Burl I..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
329,8.0,In the Heat of the Night,APPROVED,Crime,109,"[u'Sidney Poitier', u'Rod Steiger', u'Warren O..."
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
410,7.9,Bonnie and Clyde,APPROVED,Biography,111,"[u'Warren Beatty', u'Faye Dunaway', u'Michael ..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
...,...,...,...,...,...,...
652,7.7,This Is England,UNRATED,Crime,101,"[u'Thomas Turgoose', u'Stephen Graham', u'Jo H..."
144,8.2,It Happened One Night,UNRATED,Comedy,105,"[u'Clark Gable', u'Claudette Colbert', u'Walte..."
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
523,7.8,Repulsion,UNRATED,Drama,105,"[u'Catherine Deneuve', u'Ian Hendry', u'John F..."
123,8.3,The General,UNRATED,Action,107,"[u'Buster Keaton', u'Marion Mack', u'Glen Cave..."
472,7.8,Guess Who's Coming to Dinner,UNRATED,Comedy,108,"[u'Spencer Tracy', u'Sidney Poitier', u'Kathar..."
757,7.6,Funny Games,UNRATED,Crime,108,"[u'Susanne Lothar', u'Ulrich M\xfche', u'Arno ..."
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."
582,7.8,Sabrina,UNRATED,Comedy,113,"[u'Humphrey Bogart', u'Audrey Hepburn', u'Will..."
823,7.5,Straw Dogs,UNRATED,Crime,113,"[u'Dustin Hoffman', u'Susan George', u'Peter V..."
239,8.1,Elite Squad: The Enemy Within,UNRATED,Action,115,"[u'Wagner Moura', u'Irandhir Santos', u'Andr\x..."
161,8.2,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', u'V\xe9ra Clouzot', u'Pau..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
802,7.6,Tell No One,UNRATED,Crime,131,"[u'Fran\xe7ois Cluzet', u'Marie-Jos\xe9e Croze..."
217,8.1,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha ..."
262,8.1,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Jackie Gleason', u'Piper La..."
289,8.1,All Quiet on the Western Front,UNRATED,Drama,136,"[u'Lew Ayres', u'Louis Wolheim', u'John Wray']"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
730,7.6,West Side Story,UNRATED,Crime,152,"[u'Natalie Wood', u'George Chakiris', u'Richar..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
486,7.8,Evil Dead II,X,Comedy,84,"[u'Bruce Campbell', u'Sarah Berry', u'Dan Hicks']"
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

## 5. Filter Rows

![Filter](https://j.gifs.com/76G1gG.gif "Let Go me , Let Go me")

In [95]:

#filter rows of pandas data frame by column value

In [96]:
movies=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/imdb.csv')

In [97]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [98]:
movies.shape

(979, 6)

In [99]:
# We will examine movies that are really long.we want to filter the df such that we can see all
# the columns but only those rows where duration >=200

In [100]:
type(True)

bool

In [101]:
# we are gonna create a python list of booleans that has the same exact length as the dataframe and the 
# booleans will be true if the given row is atleast 200 min and false if not

In [102]:
# basically a list of booleans thats like false ,f,f, t,t,t etc

In [103]:
# so we are creating a python list of booleans which tells us which rows match a given condn

In [104]:
boolean=[]
for length in movies.duration:
    if length >=200:
        boolean.append(True)
    else:
        boolean.append(False)

In [105]:
boolean[0:5]

[False, False, True, False, False]

In [106]:
len(boolean)

979

In [107]:
#convert boolean list to a pandas series

In [108]:
is_long=pd.Series(boolean)

In [109]:
is_long.head()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [110]:
movies[is_long] #Filter only the movies whose duration is greater than 200

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [111]:
type(is_long)

pandas.core.series.Series

In [112]:
                                    # or

In [113]:
is_long=movies.duration >=200
is_long.head()
movies[is_long]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [114]:
                                #or

In [115]:
movies[movies.duration >=200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [116]:
# to get the genre of those >=200 duration

In [117]:
movies[movies.duration >=200].genre
movies[movies.duration >=200]['genre'] #chaining is not good
#best practise is to us .loc command
movies.loc[movies.duration >=200 ,'genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [118]:
# filtering the dataframe by a condn and pulling a particular column out of that

In [119]:

# Apply multiple filter criteria to a data frame

In [120]:
movies=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/imdb.csv')

In [121]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [122]:
# Filtering through multiple conditions
# only long movies that are also of genre drama using logical operator

In [123]:
movies[(movies.duration >=200) & (movies.genre=='Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [124]:
# what's going on under the hood of the data frame

In [125]:
(movies.duration >=200) & (movies.genre=='Drama')

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
949    False
950    False
951    False
952    False
953    False
954    False
955    False
956    False
957    False
958    False
959    False
960    False
961    False
962    False
963    False
964    False
965    False
966    False
967    False
968    False
969    False
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
dtype: bool

In [126]:
# SHORTCUT - If only crime ,action, drama is allowed

In [127]:
movies[(movies.genre=='Action') | (movies.genre=='Drama') | (movies.genre=='Crime')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [128]:
                                                # Or

In [129]:
movies[movies.genre.isin(['Crime','Drama','Action'])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [130]:
# if u need to read only 2 cols from a csv file

In [131]:
# ufo=pd.read_csv('C:/Users/ashis.panda/Desktop/ufo.csv',usecols=[0,4])
ufo=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/ufo.csv',usecols=['City','Time'])

In [132]:
ufo.head()

                   City             Time
0                Ithaca   6/1/1930 22:00
1           Willingboro  6/30/1930 20:00
2               Holyoke  2/15/1931 14:00
3               Abilene   6/1/1931 13:00
4  New York Worlds Fair  4/18/1933 19:00

In [133]:
# If you have a big dataset and you want to just take a look , put nrows=3 or head command . to read first few rows

In [134]:
ufo=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/ufo.csv',nrows=3)

In [135]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [136]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [137]:
for index,row in ufo.iterrows():
    print(index, row.City,row.State)

(0, 'Ithaca', 'NY')
(1, 'Willingboro', 'NJ')
(2, 'Holyoke', 'CO')

In [138]:
# The enumerate() function adds a counter to an iterable. So for each element in cursor ,
# a tuple is produced with (counter, element) ;
# the for loop binds that to row_number and row , respectively. It's a builtin generator function
for index,row in enumerate(ufo):
    print(index, row)

(0, 'City')
(1, 'Colors Reported')
(2, 'Shape Reported')
(3, 'State')
(4, 'Time')

### Drop every non numeric column in Pandas

![Drop](https://media.giphy.com/media/12L6wFC7gHKQ92/giphy.gif "Drop the beat")
![Drop](https://media.giphy.com/media/r7bHl98cBr75S/giphy.gif "No No No No")

In [139]:
drinks=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/drinks.csv')

In [140]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [141]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [142]:
import numpy as np
# It will only select columns with numeric data types 
drinks.select_dtypes(include=[np.number])

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,0,0,0.0
1,89,132,54,4.9
2,25,0,14,0.7
3,245,138,312,12.4
4,217,57,45,5.9
5,102,128,45,4.9
6,193,25,221,8.3
7,21,179,11,3.8
8,261,72,212,10.4
9,279,75,191,9.7
10,21,46,5,1.3
11,122,176,51,6.3
12,42,63,7,2.0
13,0,0,0,0.0
14,143,173,36,6.3
15,142,373,42,14.4
16,295,84,212,10.5
17,263,114,8,6.8
18,34,4,13,1.1
19,23,0,0,0.4
20,167,41,8,3.8
21,76,173,8,4.6
22,173,35,35,5.4
23,245,145,16,7.2
24,31,2,1,0.6
25,231,252,94,10.3
26,25,7,7,4.3
27,88,0,0,6.3
28,37,1,7,4.0
29,144,56,16,4.0
...,...,...,...,...
163,128,178,7,5.6
164,90,2,2,4.7
165,152,60,186,7.2
166,185,100,280,10.2
167,5,35,16,1.0
168,2,15,0,0.3
169,99,258,1,6.4
170,106,27,86,3.9
171,1,1,4,0.1
172,36,2,19,1.3
173,36,21,5,1.1
174,197,156,7,6.4
175,51,3,20,1.3
176,51,22,7,1.4
177,19,71,32,2.2
178,6,41,9,1.0
179,45,9,0,8.3
180,206,237,45,8.9
181,16,135,5,2.8
182,219,126,195,10.4
183,36,6,1,5.7
184,249,158,84,8.7
185,115,35,220,6.6
186,25,101,8,2.4
187,21,18,11,0.9
188,333,100,3,7.7
189,111,2,1,2.0
190,6,0,0,0.1
191,32,19,4,2.5
192,64,18,4,4.7

In [143]:
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [144]:
drinks.describe(include=['object','float64'])

        country  total_litres_of_pure_alcohol continent
count       193                    193.000000       193
unique      193                           NaN         6
top     Lesotho                           NaN    Africa
freq          1                           NaN        53
mean        NaN                      4.717098       NaN
std         NaN                      3.773298       NaN
min         NaN                      0.000000       NaN
25%         NaN                      1.300000       NaN
50%         NaN                      4.200000       NaN
75%         NaN                      7.200000       NaN
max         NaN                     14.400000       NaN

In [145]:
# Use axis parameters in pandas

In [146]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

## Hope you are enjoying like this Panda

![Drop it](https://media.giphy.com/media/30xmopVw4nv0Y/giphy.gif "When my Beat comes")

In [147]:
drinks.drop('continent',axis=1).head() #use inplace for permanent change

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [148]:
# for dropping row 2 with axis=0 for rows
# and axis 1 for column

In [149]:
drinks.drop(2,axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [150]:
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [151]:
# If we need mean of all numeric column set its axis=1

In [152]:
drinks.mean(axis=0) # maane downwise(each row of a column) horizontally down
drinks.mean(axis='index')  # index means rows

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [153]:
drinks.mean(axis=1) #means sidewise(each column of a row) Vertically side
drinks.mean(axis='columns') # columns means columns

0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
5       69.975
6      111.825
7       53.700
8      138.850
9      138.675
10      18.325
11      88.825
12      28.500
13       0.000
14      89.575
15     142.850
16     150.375
17      97.950
18      13.025
19       5.850
20      54.950
21      65.400
22      62.100
23     103.300
24       8.650
25     146.825
26      10.825
27      23.575
28      12.250
29      55.000
        ...
163     79.650
164     24.675
165    101.300
166    143.800
167     14.250
168      4.325
169     91.100
170     55.725
171      1.525
172     14.575
173     15.775
174     91.600
175     18.825
176     20.350
177     31.050
178     14.250
179     15.575
180    124.225
181     39.700
182    137.600
183     12.175
184    124.925
185     94.150
186     34.100
187     12.725
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
dtype: float64

## 6. STRING METHOD IN PANDAS

In [154]:
'hello'.upper()

'HELLO'

In [155]:
import pandas as pd

In [156]:
orders=pd.read_csv('C:/Users/J.A.R.V.I.S/Desktop/pandas_data/chips_data.csv')

In [157]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [158]:
orders.item_name.str.upper() #if u wanna use a str method use str.upper

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
5                                CHICKEN BOWL
6                               SIDE OF CHIPS
7                               STEAK BURRITO
8                            STEAK SOFT TACOS
9                               STEAK BURRITO
10                        CHIPS AND GUACAMOLE
11                       CHICKEN CRISPY TACOS
12                         CHICKEN SOFT TACOS
13                               CHICKEN BOWL
14                        CHIPS AND GUACAMOLE
15      CHIPS AND TOMATILLO-GREEN CHILI SALSA
16                            CHICKEN BURRITO
17                            CHICKEN BURRITO
18                                CANNED SODA
19                               CHICKEN BOWL
20                        CHIPS AND GUACAMOLE
21                           BARBACOA BURRITO
22                           NANTUCKET NECTAR
23                            CHICKEN BURRITO
24                                       IZZE
25               CHIPS AND FRESH TOMATO SALSA
26                               CHICKEN BOWL
27                           CARNITAS BURRITO
28                                CANNED SODA
29                            CHICKEN BURRITO
                        ...
4592                         BARBACOA BURRITO
4593                            CARNITAS BOWL
4594                            BARBACOA BOWL
4595                             CHICKEN BOWL
4596                      CHIPS AND GUACAMOLE
4597                        CANNED SOFT DRINK
4598                            BOTTLED WATER
4599                             CHICKEN BOWL
4600                      CHIPS AND GUACAMOLE
4601                        CANNED SOFT DRINK
4602                         BARBACOA BURRITO
4603                         BARBACOA BURRITO
4604                             CHICKEN BOWL
4605                      CHIPS AND GUACAMOLE
4606                        CANNED SOFT DRINK
4607                            STEAK BURRITO
4608                           VEGGIE BURRITO
4609                        CANNED SOFT DRINK
4610                            STEAK BURRITO
4611                           VEGGIE BURRITO
4612                            CARNITAS BOWL
4613                                    CHIPS
4614                            BOTTLED WATER
4615                       CHICKEN SOFT TACOS
4616                      CHIPS AND GUACAMOLE
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, dtype: object

In [159]:
#whether a particular item in the series containz chicken

In [160]:
orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
5        True
6       False
7       False
8       False
9       False
10      False
11       True
12       True
13       True
14      False
15      False
16       True
17       True
18      False
19       True
20      False
21      False
22      False
23       True
24      False
25      False
26       True
27      False
28      False
29       True
        ...
4592    False
4593    False
4594    False
4595     True
4596    False
4597    False
4598    False
4599     True
4600    False
4601    False
4602    False
4603    False
4604     True
4605    False
4606    False
4607    False
4608    False
4609    False
4610    False
4611    False
4612    False
4613    False
4614    False
4615     True
4616    False
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, dtype: bool

In [161]:
#to filter the data frame

In [162]:
orders[orders.item_name.str.contains('Chicken')]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
35,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",$8.75
36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$10.98
52,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98
63,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75
68,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$10.98
73,33,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
75,34,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$8.75
76,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$8.75
78,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$11.25
82,36,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
83,37,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75
110,49,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
114,50,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4537,1804,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$11.25
4543,1806,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75
4550,1809,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$11.25
4555,1811,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
4556,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$11.25
4558,1812,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4559,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Gua...",$11.25
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
4564,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4566,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75
4569,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75
4574,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$8.75
4576,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$11.25
4580,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25
4581,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4583,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4586,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.25
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [163]:
# go to pandas api page and click on string handling and check out all the string method we have access to

In [164]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

![great](https://media.giphy.com/media/Rr6J53cRIwdBS/giphy.gif "Wohaaaaaaaaaaa")

In [165]:
#Suppose u wanna replace [ ] from the choice description

In [166]:
orders.choice_description.str.replace('[','').str.replace(']','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                 Sprite
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                     Pomegranate Cherry
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                             Grapefruit
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                             Dr. Pepper
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595       Tomatillo Green Chili Salsa, Rice, Black Beans
4596                                                  NaN
4597                                               Nestea
4598                                                  NaN
4599            Roasted Chili Corn Salsa, Cheese, Lettuce
4600                                                  NaN
4601                                            Diet Coke
4602                          Tomatillo Green Chili Salsa
4603                          Tomatillo Green Chili Salsa
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                 Coke
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                               Sprite
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615         Fresh Tomato Salsa, Rice, Cheese, Sour Cream
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, dtype: object

In [167]:
#or use regular expressions

In [168]:
orders.choice_description.str.replace('[\[\]]','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                 Sprite
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                     Pomegranate Cherry
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                             Grapefruit
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                             Dr. Pepper
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595       Tomatillo Green Chili Salsa, Rice, Black Beans
4596                                                  NaN
4597                                               Nestea
4598                                                  NaN
4599            Roasted Chili Corn Salsa, Cheese, Lettuce
4600                                                  NaN
4601                                            Diet Coke
4602                          Tomatillo Green Chili Salsa
4603                          Tomatillo Green Chili Salsa
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                 Coke
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                               Sprite
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615         Fresh Tomato Salsa, Rice, Cheese, Sour Cream
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, dtype: object

# ********************** Voila ! You are half way through Pandas course *******************************

# Which means you have completed half of your journey from being a Panda To Kung Fu Panda .
# Stick to the rest of the course

![Yeah](https://media.giphy.com/media/hJaZSlPqS5K0g/giphy.gif )

In [169]:
# The rest of the course will be covered in Kung fu Panda - part 2 . Untill then keep practising Part -1

## Just gonna end Part -1 on a positive note

![Wohaaaaa](https://media.giphy.com/media/VTOYzQyfcOsbm/giphy.gif)

# P.S. -  Please don't forget to fork this *###Repository###*